.sidemenu1 {
  width: 348px;
  height: 900px;
  position: relative;
  background-color: var(--color-gainsboro-100);
  display: none;
  max-width: 100%;
}
.pfpcircle,
.username {
  position: relative;
  z-index: 1;
}
.pfpcircle {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #bdbdbd;
}
.username {
  align-self: stretch;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 600;
}
.pfpcircle-parent,
.username-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.username-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 3px 0 0;
  box-sizing: border-box;
  min-width: 156px;
}
.pfpcircle-parent {
  align-self: stretch;
  flex-direction: row;
  gap: 19px;
}
.tasks {
  width: 135px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.calendarvector-icon {
  width: 27px;
  height: 30px;
  position: relative;
  z-index: 1;
}
.calendarvector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 6.1px;
}
.tasks-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-13xl);
}
.highlight {
  height: 56px;
  width: 297px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightgray-100);
  display: none;
}
.today {
  height: 53.9px;
  width: 135px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 150%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.highlight1,
.todayframe {
  border-radius: var(--br-3xs);
}
.todayframe {
  align-self: stretch;
  background-color: var(--color-lightgray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.1px 41px var(--padding-11xs);
  z-index: 1;
}
.highlight1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
}
.upcoming {
  height: 53.9px;
  width: 135px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 150%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.frame-group,
.upcomingframe {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.upcomingframe {
  flex-direction: row;
  padding: var(--padding-12xs) 40px 1.1px;
  position: relative;
  z-index: 1;
}
.frame-group {
  flex-direction: column;
  padding: 0 0 var(--padding-4xs);
  gap: 0.9px;
}
.classestext {
  width: 135px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.checklistvector-icon {
  width: 34px;
  height: 26px;
  position: relative;
  z-index: 1;
}
.checklistvector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 8px;
  box-sizing: border-box;
  width: 34px;
  height: 34px;
}
.classestext-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.classcolorchild {
  width: 19px;
  height: 19px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-lightcoral);
  z-index: 1;
}
.classcolorchild-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-8xs);
}
.classname {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 150%;
  z-index: 1;
}
.editvector-icon {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 1;
}
.editvector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.classname-parent {
  flex: 1;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.classname-parent,
.frame-div,
.frame-wrapper {
  display: flex;
  flex-direction: row;
}
.frame-div {
  flex: 1;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.frame-wrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-7xs) 0 12px;
  font-size: var(--font-size-xl);
}
.frame-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  font-size: var(--font-size-13xl);
}
.classcolorchild1 {
  width: 19px;
  height: 19px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: #f4b377;
  z-index: 1;
}
.classcolorchild-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-8xs);
}
.classname1 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 150%;
  z-index: 1;
}
.editvector-icon1 {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 1;
}
.editvector-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.classname-group,
.frame-parent1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-parent1 {
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.frame-wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-7xs) 0 14px;
  font-size: var(--font-size-xl);
}
.frame-parent,
.sidemenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent {
  width: 297px;
  align-items: flex-end;
  gap: var(--gap-xl);
  font-size: var(--font-size-5xl);
}
.sidemenu {
  width: 348px;
  background-color: var(--color-gainsboro-100);
  align-items: flex-start;
  padding: 35.7px 0 367px 29px;
  box-sizing: border-box;
  gap: 113.4px;
  min-width: 348px;
  max-width: 100%;
}
.coordinatorgpt {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 600;
}
.coordinatorgpt-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.todaytext {
  width: 314px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.numassignments {
  position: absolute;
  top: 8px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  border: 3px solid #d0d0d0;
  box-sizing: border-box;
  width: 85px;
  height: 85px;
}
.numtasks {
  position: absolute;
  width: calc(100% - 6px);
  top: 0;
  left: 3px;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  min-width: 79px;
  z-index: 1;
}
.numassignments-parent {
  width: 85px;
  height: 100px;
  position: relative;
}
.frame-wrapper3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-family: var(--font-inter);
}
.duetext {
  align-self: stretch;
  height: 54px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.duetext-wrapper {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xl);
  box-sizing: border-box;
}
.frame-wrapper2,
.todaytext-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.todaytext-parent {
  flex: 1;
  align-items: flex-end;
  gap: 16px;
}
.frame-wrapper2 {
  width: 943px;
  align-items: flex-start;
  padding: 0 var(--padding-14xl);
  box-sizing: border-box;
}
.separator {
  align-self: stretch;
  height: 3px;
  border-top: 3px solid var(--color-silver-100);
}
.checklistbox,
.highlight2,
.separator {
  position: relative;
  box-sizing: border-box;
}
.highlight2 {
  align-self: stretch;
  height: 100px;
  background-color: var(--color-gainsboro-200);
  border-bottom: 3px solid var(--color-silver-100);
  display: none;
}
.checklistbox {
  width: 30px;
  height: 30px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro-100);
  border: 2px solid var(--color-black);
  z-index: 1;
}
.checklistbox-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xl);
}
.classcolor,
.taskname {
  position: relative;
  z-index: 1;
}
.taskname {
  margin: 0;
  align-self: stretch;
  height: 54px;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.classcolor {
  width: 27px;
  height: 26px;
  border-radius: var(--br-8xs);
  background-color: var(--color-lightcoral);
}
.classcolor-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.classname2 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 150%;
  white-space: nowrap;
  z-index: 1;
}
.frame-parent5,
.taskname-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent5 {
  width: 243px;
  flex-direction: row;
  gap: 13px;
  margin-top: -5px;
  font-size: var(--font-size-xl);
  color: #939393;
}
.taskname-parent {
  flex: 1;
  flex-direction: column;
  max-width: 100%;
}
.duedate,
.frame-parent4 {
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.frame-parent4 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 41px;
  max-width: 100%;
}
.duedate {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 150%;
  white-space: nowrap;
  z-index: 1;
}
.duedate-wrapper {
  width: 209px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-4xs);
  box-sizing: border-box;
  margin-left: -136px;
  font-size: var(--font-size-21xl);
}
.frame-parent3,
.tasks-inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent3 {
  flex: 1;
  align-items: flex-end;
}
.tasks-inner {
  width: 952px;
  align-items: flex-start;
  padding: 0 var(--padding-14xl);
  box-sizing: border-box;
}
.frame-parent2,
.tasks1 {
  align-self: stretch;
  flex-direction: column;
  max-width: 100%;
}
.tasks1 {
  background-color: var(--color-gainsboro-200);
  border-top: 1px solid var(--color-silver-100);
  border-right: 1px solid var(--color-silver-100);
  border-bottom: 3px solid var(--color-silver-100);
  border-left: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5px 0 10px;
  gap: 4.5px;
  z-index: 1;
  font-size: var(--font-size-13xl);
}
.frame-parent2 {
  gap: var(--gap-11xs);
  font-size: var(--font-size-41xl);
  font-family: var(--font-lexend);
}
.frame-header,
.frame-parent2,
.page2,
.page2-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-header {
  align-self: stretch;
  flex-direction: column;
  gap: 50px;
  max-width: 100%;
  text-align: left;
  font-size: 30px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.page2,
.page2-inner {
  box-sizing: border-box;
}
.page2-inner {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xl) 0 0;
  min-width: 650px;
  max-width: 100%;
}
.page2 {
  width: 100%;
  position: relative;
  background-color: #fff;
  flex-direction: row;
  padding: 0 32px 0 0;
  gap: 60px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-darkslategray);
  font-family: var(--font-lexend);
}
@media screen and (max-width: 1125px) {
  .sidemenu {
    flex: 1;
  }
  .page2 {
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .username {
    font-size: var(--font-size-13xl);
    line-height: 48px;
  }
  .classestext,
  .tasks {
    font-size: var(--font-size-7xl);
    line-height: 38px;
  }
}
@media screen and (max-width: 750px) {
  .sidemenu {
    padding-top: 23px;
    padding-bottom: 239px;
    box-sizing: border-box;
  }
  .frame-header {
    gap: 25px;
  }
  .page2-inner {
    min-width: 100%;
  }
  .page2 {
    gap: 30px;
  }
}
@media screen and (max-width: 450px) {
  .username {
    font-size: var(--font-size-5xl);
    line-height: 36px;
  }
  .pfpcircle-parent {
    flex-wrap: wrap;
  }
  .classestext,
  .tasks,
  .today,
  .upcoming {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .classname,
  .classname1 {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .sidemenu {
    gap: 57px;
    min-width: 100%;
  }
  .frame-parent4 {
    gap: var(--gap-xl);
  }
}
